@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
    url('/assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'),
    url('/assets/fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Black.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-BlackItalic.eot');
    src: local('HelveticaNeueCyr-BlackItalic'),
    url('/assets/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-BoldItalic.eot');
    src: local('HelveticaNeueCyr-BoldItalic'),
    url('/assets/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.eot');
    src: local('HelveticaNeueCyr-HeavyItalic'),
    url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'),
    url('/assets/fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Italic.eot');
    src: local('HelveticaNeueCyr-Italic'),
    url('/assets/fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-LightItalic.eot');
    src: local('HelveticaNeueCyr-LightItalic'),
    url('/assets/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
    url('/assets/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
    url('/assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-MediumItalic.eot');
    src: local('HelveticaNeueCyr-MediumItalic'),
    url('/assets/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
    url('/assets/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-ThinItalic.eot');
    src: local('HelveticaNeueCyr-ThinItalic'),
    url('/assets/fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
    url('/assets/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot');
    src: local('HelveticaNeueCyr-UltraLightItalic'),
    url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}